@use 'variables' as v; 
.contact-form {
  background: v.$color-negro-transparente-70; 
  padding: v.$espaciado-grande; 
  border-radius: v.$radio-borde-grande; 
  box-shadow: 0px 4px 8px v.$color-sombra-negra-suave; 
  max-width: 600px;
  margin: v.$espaciado-grande auto; 
  color: v.$color-texto;

  // Ajustes responsivos para pantallas medianas/pequeñas 
  @media (max-width: v.$breakpoint-movil-medio) {
    width: 90%; // Ajuste para pantallas medianas/pequeñas
    padding: v.$espaciado-medio; 
  }

  @media (max-width: v.$breakpoint-movil-pequeno) {
     padding: v.$espaciado-medio; 
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: v.$espaciado-medio; 

  input, select, textarea {
    width: 100%;
    padding: v.$espaciado-pequeno; 
    border: 1px solid v.$color-borde-claro; 
    border-radius: v.$radio-borde-pequeno; 
    font-size: 16px;
  }

  button {
    background: v.$color-enlace;
    color: white;
    padding: v.$espaciado-pequeno; 
    border: none;
    border-radius: v.$radio-borde-pequeno; 
    cursor: pointer;
    transition: v.$transicion-fondo; 

    &:hover { // Anidamiento para el estado hover
      background: v.$color-enlace-hover; 
    }
  }
}