@use 'variables' as v; // La ruta ahora es directa 'variables'

nav {
  ul {
    list-style-type: none;
    display: flex; 
    justify-content: center;
    padding: v.$espaciado-pequeno; 
    background: v.$color-negro-transparente-60; 
    border-radius: v.$radio-borde-medio; 

    
    @media (max-width: v.$breakpoint-movil-pequeno) {
      flex-direction: column;
    }

    
    @media (min-width: v.$breakpoint-movil-pequeno + 1) and (max-width: v.$breakpoint-movil-medio) {
       flex-direction: row; // Aseguramos que esté en fila en este rango
    }

    li {
      margin: 0 v.$espaciado-medio; 

      // Ajuste de margen para ítems apilados en pantallas muy pequeñas (hasta 480px)
      @media (max-width: v.$breakpoint-movil-pequeno) {
        margin: v.$espaciado-pequeno 0; 
      }
    }

    li a {
      color: white !important; // Considerar revisar si se puede evitar con mejor estructura
      text-decoration: none;
      font-weight: bold;
      transition: v.$transicion-color, text-decoration 0.2s; 

      &:hover { // Anidamiento para el estado hover
        text-decoration: underline;
        color: v.$color-enlace-hover !important; 
      }
    }
  }
}