@use 'variables' as v; // La ruta ahora es directa 'variables'

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: v.$espaciado-grande; 
  padding: v.$espaciado-grande 0; 

  // Ajuste para pantallas medianas 
  @media (min-width: v.$breakpoint-movil-pequeno + 1) and (max-width: v.$breakpoint-movil-medio) {
      flex-direction: column; // Apilar testimonios en este rango
  }

  // Ajuste para pantallas pequeñas 
  @media (max-width: v.$breakpoint-movil-medio) {
      gap: v.$espaciado-pequeno; 
  }
}

.testimonial {
  background: v.$color-blanco-transparente-20; 
  padding: v.$espaciado-medio; 
  border-radius: v.$radio-borde-grande; 
  max-width: 500px;
  text-align: center;
  box-shadow: 0px 2px 4px v.$color-sombra-negra-ligera;

  // Ajuste para pantallas medianas/pequeñas (hasta 768px)
  @media (max-width: v.$breakpoint-movil-medio) {
      width: 90%; // Ajuste el ancho para estos tamaños
  }
}