@use 'variables' as v; // La ruta ahora es directa 'variables'

.whatsapp-button {
  position: fixed;
  left: v.$espaciado-grande; // 20px
  bottom: v.$espaciado-grande; // 20px
  z-index: 1000;

   @media (min-width: 769px) { // Para pantallas grandes (>= 769px)
     left: v.$espaciado-grande; // 20px
     bottom: v.$espaciado-grande; // 20px
   }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: v.$color-whatsapp; // #25D366
    padding: v.$espaciado-pequeno; // 10px
    box-shadow: 0 4px 8px v.$color-sombra-whatsapp; // rgba(0, 0, 0, 0.1)

    // Ajuste para pantallas muy pequeñas (hasta 480px)
    @media (max-width: v.$breakpoint-movil-pequeno) {
      width: 50px;
      height: 50px;
    }
  }
}